*
{
  font-size: 18px;
  font-weight: normal;
  font-family: monospace;
}

body
{
  background: rgb(0, 10, 0);
  color: rgb(0, 175, 0);
}

h1, h2, h3, h4, h5, h6
{
  color: rgb(0, 225, 0);
}

.container
{
  width: 80em;
}

.content
{
  width: 60em;
  background: rgb(10, 25, 10);
  float: left;
}

.post_list
{
  margin-left: 1em;
  width: 19em;
  background: rgb(10, 25, 10);
  float: right;
}